stages:
  - image
  - test

variables:
  CODECOV_TOKEN: b1c3afe7-4ef3-4c69-9656-78beec52ec16
  OMPI_ALLOW_RUN_AS_ROOT: "1"
  OMPI_ALLOW_RUN_AS_ROOT_CONFIRM: "1"

install_test_without_tox:
  stage: test
  image: registry.heptapod.net:443/fluiddyn/transonic/ci/default:stable
  script:
    - echo $PATH
    - export PATH=/root/.local/bin:$PATH
    - pip install -U pdm --user
    - pdm sync --no-self --group base_test -v

# step_without_pythran:
#   image: python:3.10-bullseye
#   script:
#     - export PATH=/root/.local/bin:$PATH
#     - pip install -U pdm tox tox-pdm --user
#     - tox -e py39,codecov

# step_pythran_then_cython:
#   image: python:3.10-bullseye
#   script:
#     - export PATH=/root/.local/bin:$PATH
#     - pip install -U pdm tox tox-pdm --user
#     - tox -e py39-pythran,py39-cython,codecov

# step_pythran_cython:
#   image: python:3.10-bullseye
#   script:
#     - export PATH=/root/.local/bin:$PATH
#     - pip install -U pdm tox tox-pdm --user
#     - tox -e py39-pythran-cython


# Build an image for the above tasks; this should be a scheduled job, as
# it is quite unnecessary to run on every invocation.
CI image:
  stage: image
  tags:
    - container-registry-push
  # rules:
  #   - if: '$CI_PIPELINE_SOURCE == "schedule"'
  #   - if: '$CI_BUILD_IMAGES == "1"'
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [ "" ]
  before_script:
    - ""
  script:
    - |
      cat > /kaniko/.docker/config.json <<EOF
      {
        "auths": {
          "$CI_REGISTRY": {
            "username": "$CI_REGISTRY_USER",
            "password": "$CI_REGISTRY_PASSWORD"
          }
        }
      }
      EOF
    - >
      /kaniko/executor --context $CI_PROJECT_DIR
      --dockerfile $CI_PROJECT_DIR/docker/Dockerfile
      --single-snapshot
      --cleanup
      --destination registry.heptapod.net:443/fluiddyn/transonic/ci/$CI_COMMIT_HG_BRANCH:stable
