stages:
  - image
  - lint
  - test
  - publish

variables:
  CODECOV_TOKEN: b1c3afe7-4ef3-4c69-9656-78beec52ec16
  OMPI_ALLOW_RUN_AS_ROOT: "1"
  OMPI_ALLOW_RUN_AS_ROOT_CONFIRM: "1"

image: registry.heptapod.net:443/fluiddyn/transonic/ci/default:stable

before_script:
  - export PATH=/root/.local/bin:$PATH
  - pip install -U pdm tox tox-pdm --user

# Build an image for the above tasks; this should be a scheduled job, as
# it is quite unnecessary to run on every invocation.
CI image:
  stage: image
  tags:
    - container-registry-push
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_BUILD_IMAGES == "1"'
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [ "" ]
  before_script:
    - ""
  script:
    - |
      cat > /kaniko/.docker/config.json <<EOF
      {
        "auths": {
          "$CI_REGISTRY": {
            "username": "$CI_REGISTRY_USER",
            "password": "$CI_REGISTRY_PASSWORD"
          }
        }
      }
      EOF
    - >
      /kaniko/executor --context $CI_PROJECT_DIR
      --dockerfile $CI_PROJECT_DIR/docker/Dockerfile
      --single-snapshot
      --cleanup
      --destination registry.heptapod.net:443/fluiddyn/transonic/ci/$CI_COMMIT_HG_BRANCH:stable

validate_code:
  stage: lint
  needs:
    - job: "CI image"
      optional: true
  script:
    - pdm install -G dev
    - pdm run make lint

step_without_pythran:
  stage: test
  needs:
    - job: "CI image"
      optional: true
  script:
    - tox -e py310,codecov

step_pythran_then_cython:
  stage: test
  needs:
    - job: "CI image"
      optional: true
  script:
    - tox -e py310-pythran,py310-cython,codecov

step_pythran_cython:
  stage: test
  needs:
    - job: "CI image"
      optional: true
  script:
    - tox -e py310-pythran-cython

pages:
  stage: publish
  needs:
    - job: "CI image"
      optional: true
  script:
    - pdm install -G doc
    - pdm run xvfb-run --auto-servernum sphinx-build -W -b html -d doc/_build/doctrees doc doc/_build/html
    - mkdir -p public/$CI_COMMIT_REF_NAME
    - rsync -rvc --delete doc/_build/html/* public/$CI_COMMIT_REF_NAME/
    # This directory can become too large leading to error.
    # It can be purged with the botton "Clear runner caches"
    # in https://foss.heptapod.net/fluiddyn/transonic/-/pipelines
    - ls public
    - echo "CI_COMMIT_REF_NAME="$CI_COMMIT_REF_NAME
    - echo See https://fluiddyn.pages.heptapod.net/transonic/$CI_COMMIT_REF_NAME
  needs: []
  artifacts:
    name: "$CI_COMMIT_REF_NAME"
    paths:
      - public
    expire_in: 5 days
  when: always
